
.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm{
  --bs-gutter-x: 1em
}
p {
  margin-block-start: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 1.75;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 1em;
}

body{
  padding-top: 7vh;
}
html,body{
  width: 100%;
  overflow-x: hidden;
  background-color: #19092f;
}
.active-color{
  color: #1bf3f6;
}

.text-left{
  text-align: left;
}

.main{
  background-color: #19092f;
}
section{
  margin: 0px auto;
  color: #ffffff;
  // padding-top: 5vh;
  font-size: 14px;
}

.banner{
  height: 30vh;
  background: url(../assets/images/banner_02.jpg) center no-repeat;
  background-size:cover;
  position: relative;
  .container{
    position: relative;
  }
  .button{
    position: absolute;
    top: 20vh;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    height: 5.5vh;
    width: 45vw;
    border: none;
  }
}
.section-title {
  display: flex;
  align-items: center;
  align-self: center;
  flex-direction: column;
  position: relative;
  height: 8.2vh;
  margin-bottom: 4vh;
  width: 95vw;
  background: url('../assets/images/img_0.png') center no-repeat;
  background-size: 100%;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.2;
}
.title {
  position: relative;
  margin-top: 2.5vh;
  max-width: 654px;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  letter-spacing: 0.32px;
  white-space: nowrap;
  color: #ffffff;
  font-size: 18px;
}
.intro-desc{
  padding: 0 2vw;
  margin: 2vh 0;
}
.background{
  font-size: 12px;
  color: #1bf6f9;
}

/*  */
.system-intro{
  padding: 10px;
  dt{
    background: linear-gradient(to right, #0b21ab, #221247, #19092f);
    border-radius: 5px;
    padding: 1.2vh 3vw;
    font-size: 18px;
  }
  dd{
    margin: 2vh;
  }
}
.support-con{
  display: flex;
  justify-content: center;
  margin-top: 2vh;
  padding: 10px;
  dt{
    background: url(../assets/images/img_4.png) center no-repeat;
    width: 60vw;
    padding: 1.2vh 10vw;
    background-size: 100%;
    text-align: left;
    padding-left: 10vw;
  }
  dd{
    display: flex;
    align-items: center;
    background-size: 100%;
    width: 100%;
    // height: 44.8vh;
    line-height: 2;
    font-size: 14px;
    margin: 2vh;
  }
}
.group-con{
  img{
    max-width: 100%;
  }
}
.qrcode{
  padding-right: 2vw;
  img{
    max-width: 80%;
  }
}
// 
.box{
  color: #ffffff;
  width: 96%;
  margin: 0 auto;
  h3{
    position: relative;
    padding-bottom: 10px;
    color: #1bf6f9;
    font-size: 18px;
    &::before{
      content: '';
      display: block;
      width: 20%;
      position: absolute;
      bottom: 0;
      height: 2px;
      background-color: #473a59;
    }
  }
  a{
    color: #ffffff;
    text-decoration: none;
  }
  p{
    font-size: 14px;
    word-break: break-all;
  }
}

// 嘉宾
.experts{
  overflow: hidden;
  position: relative;
  font-size: 16px;
  margin: 10px;
  background-color: #19092f;
  width: 40vw;
  height: 24vh;
  &-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &-avatar{
    img{
      width: 100%;
    }
  }
  &-name{
    color: #fff;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .experts-info{
    position: absolute;
    top: 75%;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    overflow-y: auto;
    font-size: 12px;
  }
}
::-webkit-scrollbar {
  width: 8px;
 }
.experts::-webkit-scrollbar {
  width: 8px;
 }
.partners2{
  // background-color: #f7f8f9;
  color: #ffffff;
  padding-bottom: 150px;
  .section-title{
    color: #ffffff;
    padding-top: 20px;
  }
  padding-bottom: 50px;
  .title{
    color: #fff;
    margin: 0 auto;
  }
  .partners-item{
    padding: 50px 0 0px;
  }
  .img-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 2vw;
    img{
      height: 8vh;
      background-color: #fff;
      margin: 2vw;
      padding: 10px;
    }
  }
  .placeholder-img{
    display: inline-block;
    background-color: #fff;
    color: rgba(0, 0, 0, .2);
    text-align: center;
    width: 40vw;
    height: 8vh;
    line-height: 8vh;
    vertical-align: middle;
    margin: 2vw;
  }
  .background{
    color: #1bf6f9;
  }
  h3{
    font-size: 18px;
    margin-bottom: 30px;
    // margin: 30px;
  }
}
.experts-info{
  width: 100%;
  height: 100%;
  top: 80%;
  // display: none;
  font-size: 14px;
  transition: all .3s ease-in;
  background-image: linear-gradient(to right, rgb(36, 35, 106) 0%, rgba(36, 35, 106, .6) 100%);
  &.show{
    top: 0!important;
  }
  p{
    padding: 0 5px;
    margin-bottom: 0;
  }
}
.footer{
  background-color: #13181f;
  padding: 20px 0;
  color: #9b9191;
  margin-top: 50px;
  font-size: 14px;
}
.footer-desc{
  margin: 0 auto;
  justify-content: center;
}
.footer p{
  line-height: 1.3;
}
.footer a{
  color: #9b9191;
  text-decoration: none;
}
a.nocolor:link {
  text-decoration: inherit;
  color: inherit;
}

a.nocolor:visited {
  text-decoration: inherit;
  color: inherit;
}


// Extra small devices (portrait phones, less than 576px)
    // No media query since this is the default in Bootstrap 
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
  section{
    padding-top: 80px;
    font-size: 22px;
  }
  .banner{
    background-image: url(../assets/images/banner.jpg);
    height: 31vw;
    background-size: 100%;
    position: relative;
    .button{
      position: absolute;
      top: 18vw;
      left: 0;
      transform: translate3d(-50%, 0, 0);
      height: 20vh;
      width: 65vw;
    }
  }
  .support-con{
    dt{
      width: 100%;
      padding: 2vh 0;
      text-align: center;
    }
    dd{
      font-size: 16px;
    }
  }
  .section-title{
    height: 82px;
    width: 666px;
    .title{
      font-size: 32px;
      height: 30px;
      line-height: 32px;
    }
  }
  .system-intro{
    padding: 10px;
    dt{
      padding: 15px 20px;
      font-size: 24px;
    }
    dd{
      margin: 30px 20px;
    }
  }
  .box h3{
    font-size: 30px;
  }
  .box p{
    font-size: 22px;
  }
  .footer{
    font-size: 14px;
  }
  .footer-desc{
    width: 1069px;
  }
  .background{
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .support-con{
    margin: 80px auto 0;
    dt{
      height: 69px;
      background-image: url(../assets/images/img_6.png);
      text-align: left;
      line-height: 69px;
      width: 80%;
      padding: 0;
      text-align: center;
      margin: 0 auto;
    }
    dd{
      width: 100%;
      height: 320px;
      background: url(../assets/images/img_7.png) top center no-repeat;
      background-size: contain;
      font-size: 18px;
      padding: 0 7vw 0 5vw;
    }
  }
  .partners2{
    .img-container{
      padding: 0 50px;
      img{
        height: 80px;
        margin: 20px;
      }
      .placeholder-img{
        height: 80px;
        line-height: 80px;
        width: 200px;
      }
    }
  }
  .experts{
    width: 20vw;
    margin: 1vw;
    height: 220px;
    &-info{
      padding: 0 8px;
    }
    &-name{
      font-size: 20px;
      margin-bottom: 0;
    }
    &:hover{
      .experts-info{
        top: 0;
      }
    }
  }
}
@media (min-width: 1200px){
  .experts{
    width: 15vw;
    margin: 1vw;
    height: 240px;
    &-info{
      padding: 0 8px;
      font-size: 14px!important;
    }
    &-name{
      font-size: 20px;
      margin-bottom: 0;
    }
    &:hover{
      .experts-info{
        top: 0;
      }
    }
  }
}
@media (min-width: 1600px) {
  .support-con{
    width: 1120px;
    margin: 80px auto;
    dl{
      padding: 10px;
    }
    dt{
      height: 69px;
      background-image: url(../assets/images/img_6.png);
      text-align: left;
      line-height: 69px;
      width: 80%;
      padding: 0;
      text-align: center;
      margin: 0 auto;
    }
    dd{
      width: 100%;
      height: 400px;
      background: url(../assets/images/img_7.png) center no-repeat;
      background-size: 100%;
      font-size: 20px;
      padding: 0 70px 0 30px;
    }
  }
  .background{
    font-size: 18px;
  }
  .experts{
    width: 14vw;
    margin: 1vw;
    height: 260px;
    &-info{
      padding: 0 12px;
    }
    &-name{
      font-size: 20px;
      margin-bottom: 0;
    }
    &:hover{
      .experts-info{
        top: 0;
      }
    }
  }
}

@media (min-width: 1800px) {
  .experts{
    width: 11vw;
    height: 240px;
  }
}